$website-width:1280px;
$primary-color:#4834d4;
$light-color:#f4f4f4;
$medium-color:#ccc;
$dark-color:#333;
$bg-image-1:url(C:\Users\2022\Desktop\sass-site-21\dist\img\desktop-backgrounds-23-1024x572.jpg);
$icon-1:url(C:\Users\2022\Desktop\sass-site-21\dist\icons\desktop.png);
$icon2:url(C:\Users\2022\Desktop\sass-site-21\dist\icons\document.png);
$icon-3:url(C:\Users\2022\Desktop\sass-site-21\dist\icons\like.png);
$icon-4:url(C:\Users\2022\Desktop\sass-site-21\dist\icons\object.png);